.container {
    text-align: center;
    min-height: 100vh;
}

.container h1 {
    font-size: 40px;
    font-weight: 700;
    padding-top: 40px;
    background-clip: text;
    filter: invert(1) grayscale(1);
}

.container h2 {
    font-size: 30px;
    font-weight: 600;
    background-clip: text;
    filter: invert(1) grayscale(1);
}

.container img {
    max-width: 100%;
    width: 500px;
    margin-top: 40px;
    background-color: inherit;
}

.ingredients {
    font-size: 20px;
    font-weight: 700;
    margin: 0 50px 0 50px;
    background-clip: text;
    filter: invert(1) grayscale(1);
}

.extra {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    padding-bottom: 40px;
    background-color: inherit;
}

.extra p {
    font-size: 20px;
    background-clip: text;
    filter: invert(1) grayscale(1);
}