@keyframes shake {
    0% { transform: rotate(5deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(5deg); }
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0 130px 0;
}

.container img {
    max-width: 100%;
    width: 700px;
}

.container img:hover {
    animation: shake 1s infinite;
}

.container h1 {
    color: rgb(223, 2, 2);
    font-weight: 700;
    font-size: 70px;
    padding-bottom: 5px;
}

.container h2 {
    color: rgb(223, 2, 2);
    font-size: 45px;
}

.title {
    max-width: 100%;
    width: 700px;
}