@font-face {
    font-family: Lobster;
    src: url(../../../assets/fonts/Lobster.ttf);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container h1 {
    font-size: 40px;
    font-family: "Lobster";
    color: red;
    margin-bottom: 40px;
}

.scroll {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scroll a {
    max-width: 300px;
    width: 400px;
}