.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 50px 20px 50px;
    background-color: white;
    border-radius: 40px 40px 0 0;
}

.container p {
    max-width: 100%;
    width: 600px;
    text-align: center;
    color: red;
    margin: auto;
    background: inherit;
}