@font-face {
    font-family: Lobster;
    src: url(../../../assets/fonts/Lobster.ttf);
}

.container {
    min-height: 100vh;
}

.title {
    color: red;
    font-size: 40px;
    font-family: Lobster;
    text-align: center;
}

.scroll {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 50px;
    justify-content: center;
}